Resources:
  csci5409AwsWebServicesQueue:
    Type: AWS::SQS::Queue
  csci5409AwsWebServices:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
      - Endpoint:
          Fn::GetOptionSetting: {DefaultValue: gang.liu@dal.ca, OptionName: csci5409AwsWebServices}
        Protocol: email
      - Endpoint:
          Fn::GetAtt: [csci5409AwsWebServicesQueue, Arn]
        Protocol: sqs
  AllowSNS2SQSPolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Id: PublicationPolicy
        Statement:
        - Action: ['sqs:SendMessage']
          Condition:
            ArnEquals:
              aws:SourceArn: {Ref: csci5409AwsWebServices}
          Effect: Allow
          Principal: {AWS: '*'}
          Resource:
            Fn::GetAtt: [csci5409AwsWebServicesQueue, Arn]
          Sid: Allow-SNS-SendMessage
        Version: '2020-04-01'
      Queues:
      - {Ref: csci5409AwsWebServicesQueue}
