option_settings:
  aws:elasticbeanstalk:customoption:
    Email: gang.liu@dal.ca
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    TABLE: csci5409-aws-web-services
    RDS_HOSTNAME: csci5409-part.c2vryhkngaoi.us-east-2.rds.amazonaws.com
    RDS_PORT: 3306
    RDS_USERNAME: admin
    RDS_PASSWORD: 12345678
    RDS_MYSQL_DB: csci5409
    RDS_MYSQL_TABLE: part
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
