option_settings:
  aws:elasticbeanstalk:customoption:
    Email: gang.liu@dal.ca
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    TABLE: csci5409-aws-web-services
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
